{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block%}
    About - Rango
{% endblock %}
   
{% block body_block%}
    <h1>This is the About page</h1>

    <div>
        <strong><p>visits : {{ visits }} </p></strong>
    </div>
    
    <div>
        hey there partner! I am  <br />
        <strong>{{ name }}</strong><br />
    </div>
    <button class="btn btn-primary"
        onClick="alert('You clicked the button using JavaScript.');">
        Click Me - I run JavaScript
    </button>   <br> <br>
    <button class="btn btn-primary" id="about-btn">
        Click Me - I'm JavaScript on Speed
    </button>
    <br><br>
    <p>This text is for a JQuery Example</p>
    
    <div id="msg">Hello
        - I'm here for a JQuery Example too</div>

    <div>
        <img src="{{MEDIA_URL}}test.png" alt="Picture" />
    </div>
{% endblock %}